<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF8" />
    <title>Admin Sign up</title>
  </head>
  <body>
    <h1>Enter da code</h1>
    <form action="" method="POST">
      <label for="code">Secret code</label>
      <input name="code" type="password" />
      <button>Enter</button>
    </form>
    <h6>psst code is the derivative of 400x^2</h6>
    <% if (typeof failure !== 'undefined') { %>
    <h1>Wrong code</h1>
    <% } %> <% if (typeof user !== 'undefined') { %>
    <h1>Please sign in first</h1>
    <% } %>
  </body>
</html>
