<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create message</title>
  </head>
  <body>
    <h1>Create a new message</h1>
    <form action="" method="POST">
      <label for="text">Message</label>
      <input type="text" name="text" required="true" />
      <button>Create</button>
    </form>
  </body>
</html>
