<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (user) {%>
    <h1>Welcome back <%= user.username %></h1>
    <a href="/create-message">Create a new message</a>
    <a href="/log-out">Log out</a>
    <% } else {%>
    <h1>Log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" />
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" />
      <button>Log in</button>
    </form>
    <%}%>
  </body>
</html>
