<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log in</title>
  </head>
  <body>
    <h1>Log in</h1>
    <form action="POST">
      <label for="username">Username</label>
      <input type="text" name="username" required="true" />
      <label for="password">Password</label>
      <input type="password" name="password" required="true" />
    </form>
  </body>
</html>
