<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF8" />
    <title>Member Sign up</title>
  </head>
  <body>
    <h1>Enter da code</h1>
    <form action="" method="POST">
      <label for="code">Secret code</label>
      <input name="code" type="password" />
      <button>Enter</button>
    </form>
    <% if (typeof failure !== 'undefined') { %>
    <h1>Wrong code</h1>
    <% } %>
  </body>
</html>
